<h1>Search Results</h1>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% else %>
<% if @books.present? %>
  <ul>
    <% @books.each do |book| %>
      <li>
      <% if book[:image_url] %>
        <%= image_tag(book[:image_url], class:'book-thumbnail') %>
        <% end %>
      <strong>Title:</strong> <%= book[:title] %><br>
      <strong>Author:</strong> <%= book[:author]%><br>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p>No results found for '<%= @query %>'</p>
  <% end %>
  
<% end %>